#header
{
	background: #333333;
	height: 200px;
	color: white;
	border-bottom: 2px solid #B2B2B2;
}

#menu
{
	background: white;
	height: 60px;
	color: black;
	border-bottom: 2px solid #B2B2B2;
	font-size: 50px;
}

#content
{
	background-image: url("resources/about_background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#projects_section
{
	border-bottom-style: double;
	border-top-style: double;
	margin-top: 2%;
}

#projects_subtitle
{
	font-size: 60px;
}

#projects_presentation
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects_text
{
	font-size: 30px;
	padding-left: 2%;
	padding-top: 2%;
	padding-bottom: 1%;
}

#projects_image
{
	margin: 2%;
	border-style: dashed;
	max-width: 44%;
	opacity: 0.5;
}

#canvas_game
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#projects_image_secondary
{
	margin-bottom: 2%;
	border-style: dashed;
	max-width: 94%;
	opacity: 0.5;
}

#about_title
{
	margin: 2%;
	font-size: 100px;
	font-family: "Courier New", Courier, monospace;
}

#score_text
{
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
}

#contact_title
{
	margin: 2%;
	font-size: 80px;
	font-family: Garamond, serif;
}

#projects_title
{
	margin: 2%;
	font-size: 90px;
	font-family: 'Times New Roman', serif;
}

#contact_form_title
{
	margin-top: 6%;
	font-size: 80px;
	font-family: Garamond, serif;
}

#contact_form
{
	margin-top: 6%;
	font-size: 40px;
	font-family: Garamond, serif;
}

#random_text
{
	font-size: 80%;
}

#about
{
	display: flex;
	align-items: center;
	padding: 2%;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}

#about_text
{
	padding: 2%;
	min-width: 800px;
}

#about > img
{
	margin: 2%;
	border-style: double;
	max-width: 44%;
	opacity: 0.5;
}

#about_image_secondary
{
	margin-bottom: 2%;
	border-style: double;
	max-width: 94%;
	opacity: 0.5;
}

#email_text
{
	font-size: 50px;
	margin-left: 1%;
}

#phone_text
{
	font-size: 50px;
	margin-left: 1%;
}

#discord_text
{
	font-size: 50px;
	margin-left: 1%;
}

#footer
{
	background: #404040;
	height: 30px;
	color: white;
	border-top: 2px solid #B2B2B2;
	margin-top: 15px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	color: #0026FF;
	text-decoration: none;
}

.centred {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact_section
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%;
}

.margine_right {
	padding-right: 5px;
}

.centred_text {
	text-align: center;
}

.form_item {
	margin-top: 2%;
	margin-bottom: 10%;
}

.footer_text {
	padding-left: 0.4%;
	padding-top: 0.4%;
}
