#header
{
	background: #333333;
	height: 200px;
	color: white;
	border-bottom: 2px solid #B2B2B2;
}

#menu
{
	background: white;
	height: 60px;
	color: black;
	border-bottom: 2px solid #B2B2B2;
	font-size: 50px;
}

#content
{
	background-image: url("resources/about_background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#about_title
{
	margin: 2%;
	font-size: 100px;
	font-family: "Courier New", Courier, monospace;
}

#random_text
{
	font-size: 80%;
}

#about
{
	display: flex;
	align-items: center;
	padding: 2%;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}

#about_text
{
	padding: 2%;
	min-width: 800px;
}

#about > img
{
	margin: 2%;
	border-style: double;
	max-width: 44%;
	opacity: 0.5;
}

#about_image_secondary
{
	margin-bottom: 2%;
	border-style: double;
	max-width: 94%;
	opacity: 0.5;
}

#footer
{
	background: #404040;
	height: 30px;
	color: white;
	border-top: 2px solid #B2B2B2;
	margin-top: 15px;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
}

a:hover, a:active {
	color: #0026FF;
	text-decoration: none;
}

.centred {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.margine_right {
	padding-right: 5px;
}

.menu_text {
	text-align: center;
}

.centred_text {
	text-align: center;
}

.footer_text {
	padding-left: 0.4%;
	padding-top: 0.4%;
}
